.footer__links-wrapper-item {
  margin-right: 18px;
}

@media screen and (max-width: 600px) {
  .footer__links-wrapper-item {
    margin-bottom: 32px;
  }
  .footer__links-wrapper-item:last-of-type {
    margin: 0;
  }
}