.cover__link {
  width: 100%;
  min-height: 740px;
  position: relative;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.5s;
  z-index: 1;
}

.cover__link:hover::before {
  opacity: 0.8;
  transition: opacity 0.5s;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover__link {
    min-height: 200px;
  }
}