.photo-grid {
  /*width: 100%;
  max-width: calc(1280px - 2 * 48px);*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  margin: 0 48px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    /*max-width: calc(100% - 2 * 48px);*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    /*max-width: calc(100% - 2 * 24px);*/
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    max-width: calc(100% - 2 * 16px);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
    margin: 0 16px;
  }
}