.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 1.14;
    margin: 0 16px 33px;
  }
}