.header__lang-link_active {
  font-size: 24px;
  line-height: 1.17;
  font-weight: normal;
  text-decoration: underline;
  margin-left: 18px;
  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .header__lang-link_active {
    font-size: 18px;
    line-height: 1.1;
  }
}