.place__paragraph {
  font-size: 18px;
  line-height: 1.6;
  font-weight: normal;
  margin: 0 0 26px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 0 16px 25px;
  }
}