.footer__copyright {
  font-size: 14px;
  line-height: 1.14;
  font-weight: normal;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 1;
    margin-top: 48px;
  }
}