.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 32px;
  z-index: 1;
}

@media screen and (max-width: 320px) {
  .cover__title {
    width: 288px;
    font-size: 32px;
    line-height: 1.09;
    margin: 33px 16px 16px;
  }
}