.footer {
  width: 100%;
  max-width: calc(1280px - 2 * 48px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 425px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }
}